{% extends 'include/base.html' %}

{% block title %}
    공간대여
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/rental/rental.css">
{% endblock %}

{% block main %}
    <main>
        <section id="filters">
            <select id="region">
                <option value="모든 지역">모든 지역</option>
                {% for region in regions %}
                    <option value="{{ region.name }}">{{ region.name }}</option>
                {% endfor %}
            </select>
            <!-- 가격 범위 스크롤바 -->
            <label for="priceRange">가격:</label>
            <input type="range" id="priceRange" name="priceRange" min="0" max="1000000" step="10000" value="0" oninput="this.nextElementSibling.value = this.value">
            <output>0</output>
            <!-- 날짜 선택 -->
            <input type="date" id="date" placeholder="날짜">
            <!-- 인원 범위 스크롤바 -->
            <label for="peopleRange">인원:</label>
            <input type="range" id="peopleRange" name="peopleRange" min="1" max="100" step="1" value="1" oninput="this.nextElementSibling.value = this.value">
            <output>1</output>
        </section>


        <section id="items">
            <div class="item" id="mjCollege" data-region="서대문구">
                <a href="#">
                    <div class="slider">
                        <img class="slide" alt="Item 1 Image 1" >
                        <img class="slide" alt="Item 1 Image 2" >
                    </div>
                    <p>명지전문대학</p>
                </a>
            </div>
            <div class="item" id="foreignUniversity" data-region="동대문구">
                <a href="#">
                    <div class="slider">
                        <img class="slide" alt="Item 2 Image 1" >
                        <img class="slide" alt="Item 2 Image 2" >
                    </div>
                    <p>한국외대</p>
                </a>
            </div>
            <div class="item" id="hansungUniversity" data-region="성북구">
                <a href="#">
                    <div class="slider">
                        <img class="slide" alt="Item 3 Image 1" >
                        <img class="slide" alt="Item 3 Image 2" >
                    </div>
                    <p>한성대</p>
                </a>
            </div>
            <div class="item" id="urbanBasketball" data-region="동대문구">
                <a href="#">
                    <div class="slider">
                        <img class="slide" alt="Item 4 Image 1" >
                        <img class="slide" alt="Item 4 Image 2" >
                    </div>
                    <p>어반바스켓볼</p>
                </a>
            </div>
        </section>

    </main>
{% endblock %}




{% block script %}
    <script src="/static/js/rental/urls.js"></script>
    <script src="/static/js/rental/images.js"></script>
    <script src="/static/js/rental/rental.js"></script>
{% endblock %}
