{% extends 'include/base.html' %}

{% block title %}
    <title>Rental Page</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/rental.css">
{% endblock %}

{% block main %}
    <main>
        <section id="filters">
            <select id="region">
                <option>지역</option>
            </select>
            <select id="price">
                <option>가격</option>
            </select>
            <input type="date" id="date" placeholder="날짜">
            <select id="people">
                <option>인원</option>
            </select>
        </section>

        <section id="items">
            <div class="item">
                <a href="/rental/details/mj_college">
                    <div class="slider">
                        <img src="/static/img/스포츠/농구/명지전문대학.jpg" alt="Item 1 Image 1" class="slide">
                        <img src="/static/img/스포츠/농구/명지전문대학2.jpg" alt="Item 1 Image 2" class="slide">
                    </div>
                    <p>명지전문대학</p>
                </a>
            </div>
            <div class="item">
                <a href="/rental/details/hankuk_university">
                    <div class="slider">
                        <img src="/static/img/스포츠/농구/한국외대.jpg" alt="Item 2 Image 1" class="slide">
                        <img src="/static/img/스포츠/농구/한국외대2.jpg" alt="Item 2 Image 2" class="slide">
                    </div>
                    <p>한국외대</p>
                </a>
            </div>
            <div class="item">
                <a href="/rental/details/hansung_university">
                    <div class="slider">
                        <img src="/static/img/스포츠/농구/한성대.jpg" alt="Item 3 Image 1" class="slide">
                        <img src="/static/img/스포츠/농구/한성대2.jpg" alt="Item 3 Image 2" class="slide">
                    </div>
                    <p>한성대</p>
                </a>
            </div>
            <div class="item">
                <a href="/rental/details/urban_basketball">
                    <div class="slider">
                        <img src="/static/img/스포츠/농구/어반바스켓볼.jpg" alt="Item 4 Image 1" class="slide">
                        <img src="/static/img/스포츠/농구/어반바스켓볼2.jpg" alt="Item 4 Image 2" class="slide">
                    </div>
                    <p>어반바스켓볼</p>
                </a>
            </div>
        </section>
    </main>
{% endblock %}


{% block script %}
    <script src="/static/js/rental.js"></script>
{% endblock %}
