{% extends 'include/base.html' %}

{% block title %}
    공간대여
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/rental/rental.css">
{% endblock %}

{% block main %}
    <main>
        <section id="filters">
            <select id="region">
                <option value="모든 지역">모든 지역</option>
                {% for region in regions %}
                    <option value="{{ region.sigunguno }}">{{ region.name }}</option>
                {% endfor %}
            </select>
            <!-- 가격 범위 스크롤바 -->
            <label for="priceRange">가격:</label>
            <input type="range" id="priceRange" name="priceRange" min="0" max="1000000" step="10000" value="0" oninput="this.nextElementSibling.value = this.value">
            <output>0</output>
            <!-- 날짜 선택 -->
            <input type="date" id="date" placeholder="날짜">
            <!-- 인원 범위 스크롤바 -->
            <label for="peopleRange">인원:</label>
            <input type="range" id="peopleRange" name="peopleRange" min="1" max="100" step="1" value="1" oninput="this.nextElementSibling.value = this.value">
            <output>1</output>
        </section>


        <section id="items">
            {% for rent in rentals %}
                <div class="item" data-region="{{ rent.sigunguno }}">
                    <a href="/rental/details/{{ rent.spaceno }}">
                        <div class="slider">
                            {% for image in rent.attachs %}
                                <img class="slide" src="/cdn/img/{{ image.fname }}" alt="Item Image">
                            {% endfor %}
                        </div>
                        <p>{{ rent.title }}</p>
                    </a>
                </div>
            {% endfor %}
        </section>

    </main>
{% endblock %}




{% block script %}
    <script src="/static/js/rental/rental.js"></script>
{% endblock %}
