{% extends 'include/base.html' %}

{% block title %}
    회원페이지 - 신청한 동호회내역
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="/static/css/userpage.css" />
{% endblock %}

{% block main %}
    <main>
    {% include 'mypage/user/userside.html' %}

    <div class="content">
        <h2>신청한 동호회 목록</h2>
        <div>hello :)</div>
<!--            <div id="member-info" class="tab-pane fade">-->
<!--                <h1>회원정보</h1>-->
<!--                <p>회원정보 페이지 콘텐츠가 여기에 표시됩니다.</p>-->
<!--            </div>-->
    </div>
    </main>
{% endblock %}

{% block script %}
{#    <script src="/static/js/mypage/userside.js"></script>#}
{% endblock %}