<div class="sidebar mt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" id="member-info-link" href="/mypage/user">
                회원정보
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="club-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                동호회
            </a>
            <ul class="dropdown-menu" aria-labelledby="club-dropdown">
                <li><a class="dropdown-item" id="written-link" href="#written">작성내역</a></li>
                <li><a class="dropdown-item" id="applied-link" href="#applied">신청내역</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="space-rental-link" href="#space-rental">
                공간대여
            </a>
        </li>
    </ul>
</div>