{% extends 'include/base.html' %}

{% block title %}
    회원정보 페이지
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="/static/css/userpage.css" />
{% endblock %}


{% block main %}
<main>
    <div class="sidebar-container">{% include 'mypage/userside.html' %}</div>
    <div class="content-container">
        <h5>회원정보</h5>
        <div id="written" class="tab-pane fade">
            <h1>작성내역</h1>
            <p>작성내역 페이지 콘텐츠가 여기에 표시됩니다.</p>
        </div>
        <div id="applied" class="tab-pane fade">
            <h1>신청내역</h1>
            <p>신청내역 페이지 콘텐츠가 여기에 표시됩니다.</p>
        </div>
        <div id="space-rental" class="tab-pane fade">
            <h1>공간대여</h1>
            <p>공간대여 페이지 콘텐츠가 여기에 표시됩니다.</p>
        </div>
    </div>
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <!-- 좌측 사이드바 -->#}
{#            <div class="col-md-3 col-lg-2 sidebar">#}
{#                <h4>회원페이지</h4>#}
{#                <ul class="nav flex-column">#}
{#                    <!-- 회원정보 링크 -->#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">회원정보</a>#}
{#                    </li>#}
{##}
{#                    <!-- 동호회 드롭다운 -->#}
{#                    <li class="nav-item">#}
{#                        <div class="dropdown py-2">#}
{#                            <button class="btn dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                동호회#}
{#                            </button>#}
{#                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">#}
{#                                <li><a class="dropdown-item" href="#">작성글</a></li>#}
{#                                <li><a class="dropdown-item" href="#">신청내역</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </li>#}
{##}
{#                    <!-- 공간대여 드롭다운 -->#}
{#                    <li class="nav-item">#}
{#                        <div class="dropdown">#}
{#                            <button class="btn dropdown-toggle w-100 text-start" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                공간대여#}
{#                            </button>#}
{#                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">#}
{#                                <li><a class="dropdown-item" href="#">예약내역</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{##}
{#            <!-- 우측 콘텐츠 영역 -->#}
{#            <div class="col-md-9 col-lg-10 main-content">#}
{#                <!-- 콘텐츠가 여기에 들어갑니다 -->#}
{#                <p>여기에 콘텐츠가 들어갑니다.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</main>
{% endblock %}

{% block script %}
    <script src="/static/js/mypage/userside.js"></script>
{% endblock %}