/* 예약 페이지의 전용 스타일 - 구체적인 클래스 이름 사용 */
.reservation-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.reservation-calendar-section, .reservation-time-section {
    flex: 1;
    padding: 10px;
}

.reservation-month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.reservation-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation-weekdays {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}

.reservation-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.reservation-days span {
    display: inline-block;
    width: 14%;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

.reservation-days span.past {
    color: #ccc;  /* 과거 날짜는 옅은 색상으로 표시 */
    cursor: not-allowed;  /* 클릭할 수 없도록 커서 변경 */
}

.reservation-days span.active {
    background-color: rgba(0, 123, 255, 0.2); /* 파란색을 옅게 설정 */
    color: black; /* 텍스트 색상을 검정으로 설정하여 가독성을 높임 */
}


.reservation-days span.available {
    color: #007bff;
    cursor: pointer;
}

/* 추가된 스타일 */
.reservation-days span.unavailable {
    color: #ccc;
    cursor: not-allowed;
}

.reservation-time-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation-time-circle {
    position: relative;
    width: 200px;
    height: 200px;
}

.reservation-legend {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.reservation-legend-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.reservation-legend-color.available {
    background-color: #007bff;
}

.reservation-legend-color.unavailable {
    background-color: #ddd;
}
