{% extends 'include/base.html' %}

{% block title %}
동호회 등록 페이지
{% endblock %}

{% block style %}
<style>
    main {
        padding: 15px;
    }

    img {
        width: 500px;
        height: 300px;
    }
</style>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/club/view.css" />
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center">
    <main style="width: 80%">
        <table class="table border-top border-bottom">
            <tbody>
            {% for c in club %}
            <tr>
                <td class="align-top imgtd" style="width: 360px;">
                    <img src='http://127.0.0.1/homerun/img/{{ c.fname }}' alt="이미지" class="table-img" style="width: 100%;">
                </td>
                <td style="width: 400px;">
                    <div class="title-text text-start mb-5 d-flex align-items-center">
                        <h2><b>{{ c.title }}</b></h2>
                    </div>
                    <div class="title-text text-start">
                        <p>인원수 : {{ c.people }}</p>
                    </div>
                    <div class="title-text text-start">
                        <p>조회수 : {{ c.views }}</p>
                    </div>
                    <div class="title-text text-start">
                        <p>등록일: {{ c.registdate }}</p>
                    </div>
                    <div class="title-text text-start">
                        <p>작성자: {{ c.userid }}</p>
                        <input type="hidden" id="userid" value="dangdang">
                    </div>
                    <div class="badge-container">
                        <div class="badge-row d-flex justify-content-start">
                            <h3><span class="badge text-bg-secondary bg-success d-flex justify-content-start mx-1">{{ c.sportname }}</span></h3>
                            <h3><span class="badge text-bg-secondary bg-warning d-flex justify-content-start">{{ c.regionname }}</span></h3>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><div class="content-text p-3">
                    <p>{{ c.contents }}</p>
                </div></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="botton-row d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" id="prebtn">목록으로</button>
<!--            로그인한 아이디가 작성자와 다를 경우 처리하기-->
            <button type="button" class="btn btn-primary" id="applybtn">신청하기</button>
            <input type="hidden" id="clubno" value="{{ clubno }}">
        </div>
    </main>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/club/view.js"></script>
{% endblock %}