{% extends 'include/base.html' %}

{% block title %}
동호회 등록 페이지
{% endblock %}

{% block style %}
<style>
    main {
        padding: 15px;
    }

    img {
        width: 500px;
        height: 300px;
    }

     .form-container {
         border: 1px solid #ddd;
         border-radius: 8px;
         padding: 20px;
         background-color: #f9f9f9;
     }

    .form-control {
        border: 1px solid #ced4da;
    }

</style>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/club/view.css" />
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center">
    <main style="width: 80%">
        <div class="botton-row d-flex justify-content-between mb-3">
            <button type="button" class="btn btn-secondary" id="prebtn">이전</button>
        </div>
        <table class="table border-top border-bottom">
            <tbody>
            {% for c in club %}
            <tr>
                <td class="align-top imgtd" style="width: 360px;">
                    <img src='http://127.0.0.1/homerun/img/{{ c.fname }}' alt="이미지" class="table-img" style="width: 100%;">
                </td>
                <td style="width: 400px;">
                    <div class="title-text text-start mb-3 d-flex align-items-center">
                        <h2><b>{{ c.title }}</b></h2>
                    </div>
                    <div class="badge-container">
                        <div class="badge-row d-flex justify-content-start">
                            <h3><span class="badge text-bg-secondary bg-success d-flex justify-content-start mx-1">{{ c.sportname }}</span></h3>
                            <h3><span class="badge text-bg-secondary bg-warning d-flex justify-content-start">{{ c.regionname }}</span></h3>
                        </div>
                    </div>
                    <div class="title-text text-start">
                        <p>인원수 : {{ c.people }}</p>
                    </div>
                    <div class="title-text text-start">
                        <p>조회수 : {{ c.views }}</p>
                    </div>
                    <div class="title-text text-start">
                        <p>등록일: {{ c.registdate }}</p>
                    </div>
                    <div class="title-text text-start">
                        <p>작성자: {{ c.userid }}</p>
                    </div>
                    <div class="title-text text-end">
                        {% if "dangdang" != c.userid%}
                            {% if "dangdang" != applyuid %}
                        <!--            로그인한 아이디가 작성자와 다를 경우 처리하기-->
                        <button type="button" class="btn btn-primary" id="applybtn">신청하기</button>
                        <input type="hidden" id="clubno" value="{{ clubno }}">
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><div class="content-text p-3">
                    <p>{{ c.contents }}</p>
                </div></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- 댓글 목록 -->
        <div class="list-group">
            {% for re in reply %}
                {% if re[0].rno == re[0].rpno %}
                <div style="background: mistyrose">
                {% else %}
                <div style="background: lightblue">
                {% endif %}
                    <div class="comment-container d-flex justify-content-between align-items-center">
                        <div class="comment-content d-flex flex-grow-1 gap-3 py-3">
                            <h5 class="w-20 px-2">{{ re[0].userid }}</h5>
                            <p class="45 px-2">{{ re[0].reply }}</p>
                        </div>
                        <div class="d-flex justify-content-end w-15"><p class="px-2">{{ re[0].regdate }}</p></div>
                    <!-- 대댓글 Modal 트리거 버튼 -->
                        {% if re[0].rno == re[0].rpno %}
                        <button type="submit" id="rreplyadd" class="btn btn-danger mx-3 w-20" data-bs-toggle="modal" data-bs-target="#replyModal" onclick="addrreply('{{ re[0].rno }}')">
                            추가
                        </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- 댓글등록창 -->
        <div class="form-container my-4">
            <form name="replyfrm" id="replyfrm">
                <div class="row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="userid" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="userid" name="userid" value="dangdang" style="border:none" readonly>
                    </div>
                    <div class="col-md-7">
                        <label for="reply" class="form-label">댓글 내용</label>
                        <textarea class="form-control" id="reply" name="reply" rows="1" required></textarea>
                    </div>
                    <div class="col-md-2 text-start">
                        <button type="submit" class="btn btn-primary mt-4 replybtn">등록</button>
                    </div>
                    <!-- hidden -->
                    <input type="hidden" name="clubno" value="{{ clubno }}">
                </div>
            </form>
        </div>

        <!-- 대댓글 모달창 -->
        <!-- 모달 구조 -->
        <div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="replyModalLabel">댓글 작성</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="rreplyfrm" name="rreplyfrm">
                            <div class="mb-3">
                                <label for="ruserid" class="form-label">작성자</label>
                                <input type="text" class="form-control" id="ruserid" name="userid" value="dangdang" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="rreply" class="form-label">댓글 내용</label>
                                <textarea class="form-control" id="rreply" name="reply" rows="3" required></textarea>
                            </div>
                            <div class="mb-3 d-flex justify-content-between">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary" form="rreplyfrm" id="newrrpbtn">등록</button>
                            </div>
                            <!-- hidden -->
                            <input type="hidden" name="clubno" value="{{ clubno }}">
                            <input type="hidden" name="rpno" id="rpno" value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/club/view.js"></script>
{% endblock %}