<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bs5/bootstrap.min.css">
<!--    <link rel="stylesheet" href="/static/css/header.css" >-->
    {% block link %} {% endblock %}
    {% block style %} {% endblock %}
</head>
<body>
    <div id="wrap" class="container">
        {% include 'include/header.html' %}
        {% block main %} {% endblock %}
        {% include 'include/footer.html' %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bs5/bootstrap.bundle.min.js"></script>
<!--    <script src="/static/js/header.js"></script>-->
{% block script %} {% endblock %}
</body>
</html>