.table-form td {
    vertical-align: middle; /* 셀 안의 내용 수직 중앙 정렬 */
    border: none;
}
.table-form .label-cell {
    text-align: right; /* 레이블을 오른쪽 정렬 */
    /*padding-right: 1rem; !* 레이블과 입력 필드 간의 간격 *!*/
}
.table-form .input-cell {
    /*padding-left: 1rem; !* 레이블과 입력 필드 간의 간격 *!*/
}
.form-control, .form-select {
    width: 100%; /* 입력 필드가 셀의 전체 너비를 차지하도록 설정 */
}

textarea {
    height: 280px;
    resize: vertical;
}

#author {
    border: none;
    text-align: left;
}