/* 전체 페이지의 기본 스타일 설정 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 헤더 및 콘텐츠 레이아웃 설정 */
.headermain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 헤더가 전체 너비를 차지하도록 설정 */
}

.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* 전체 너비 사용 */
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo {
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    height: auto;
}

.container.text-start.mt-4 {
    width: 100%; /* 전체 너비 사용 */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.nav-link {
    color: black;
}

.headernav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%; /* 전체 너비 사용 */
    padding-top: 10px;
}

.sportnav {
    padding: 0;
    margin: 0;
    background-color: #faf8f5;
    width: 100%;
}

.headerul {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 0;
    margin: 0;
}

.headerli {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #faf8f5;
    text-align: center;
}

.btn-group {
    display: flex;
    position: relative;
    width: 100%; /* 전체 너비 사용 */
    border-radius: 30px;
    overflow: hidden;
    background-color: #E0E0E0;
}

.btn-group .sliding {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #FFC107;
    border-radius: 30px;
    transition: left 0.3s ease;
    z-index: 1;
    left: 0;
}

.btn-group .btn-toggle {
    flex-grow: 1;
    text-align: center;
    padding: 0;
    background-color: transparent;
    color: gray;
    border: none;
    position: relative;
    z-index: 2;
    line-height: 40px;
    height: 40px;
}

.btn-toggle:focus, .btn-toggle:active, .btn-toggle:visited {
    outline: none !important;
    box-shadow: none !important;
}

.sliding:focus, .sliding:active, .sliding:visited {
    outline: none !important;
    box-shadow: none !important;
}

.btn-group .btn-toggle.active {
    color: white;
}

.btn-group .btn-toggle:hover {
    color: white;
}

.btn-group .btn-toggle:not(.active) {
    color: gray;
}

.basketball, .soccer, .baseball, .tennis, .pingpong {
    width: 120px;
    height: auto;
}

/* 푸터 위치 고정 및 스타일 설정 */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #faf8f5; /* 푸터의 배경색 설정 */
}
