{% extends 'include/base.html' %}

{% block title %}
    결제
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/payment/payment.css">
{% endblock %}

{% block main %}
    <main class="container payment-page">
        <!-- 예약 확인 섹션 -->
        <section class="reservation-summary">
            <h2>{{ rent.title }}</h2>
            <p>일정: {{ reservation.resdate }} - {{ reservation.restime }}</p>
            <div class="item">
                <span>인원: {{ reservation.people }}명</span>
                <span>{{ reservation.price }}원</span>
            </div>
            <div class="total">
                <span>합계</span>
                <span>{{ reservation.price }}원</span>
            </div>
        </section>

        <!-- 예약자 정보 섹션 -->
        <section class="customer-info">
            <h3>예약자 정보</h3>
            <form id="customerInfoForm">
                <div class="info-item">
                    <label for="name">예약자:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="info-item">
                    <label for="contact">연락처:</label>
                    <input type="text" id="contact" name="contact" pattern="^\d{3}-\d{3,4}-\d{4}$" required>
                </div>
                <div class="info-item">
                    <label for="email">이메일:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <!-- CSRF Token 추가 -->
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            </form>
        </section>

        <!-- 주의사항 섹션 -->
        <section class="warnings">
            <h3>주의사항</h3>
            <ul>
                <li>대관 중 시설 훼손이 발생한 경우 손해액을 호스트에게 배상해야합니다.</li>
                <li>코로나 방역수칙을 엄수해주세요. 발열체크 후, 방문자 명단을 필수로 작성해주셔야 합니다.</li>
                <li>사용자 인원수가 초과될 경우, 초과 결제를 요청합니다.</li>
                <li>대여 시간 보다 적게 사용 하시더라도 환불되지 않습니다.</li>
                <li>생활체육 상품의 경우, 동호회 체육 활동 목적으로만 사용이 가능하십니다. 동문회, 친목 행사 등은 생활 체육에 해당하지 않으며, 목적과 달리 시설을 사용할 경우 이용이 제한됩니다.</li>
                <li>생활체육 상품의 경우, 냉난방 사용이 불가합니다.</li>
                <li>체대입시 혹은 개인 및 단체 레슨은 해당 공간에서 불가능합니다. 생활체육으로 대관 후 해당 목적으로 이용 시 환불없이 퇴장 조치될 수 있습니다. 이 부분 유의부탁드립니다.</li>
            </ul>
        </section>

        <!-- 액션 버튼 섹션 -->
        <div class="actions">
            <button class="back-button" onclick="history.back();">이전</button>
            <button class="confirm-button" id="confirmPaymentButton">동의하고 결제하기</button>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
    <script src="/static/js//rental/payment.js"></script>

{% endblock %}
